
// colors
$color1: #fff;
$color2: #000;
$color3: #333;
$color4: #f6f6f6;
$color5: #8E5392; // purple
$color6: #733A75; // purple hover
$color7: #CE92D3; // purple lighter
$color8: transparent;
$color9: #898989; // border
$color10: #FEC503; // moon yellow
$color11: #FED136; // yellow lighter
$color12: #53346D; // purple
$ice: #c9c9c9;
$ice2: #DED9E1;

$gray1: #969696;

//rgba
$rgba1: rgba(0,0,0,1);
$rgba2: rgba(0,0,0,0.8);
$rgba3: rgba(66,41,87,0.8);

// background colors
$background-color1: #fff;
$background-color2: #000;

//Font Sizes
$font-size1: 15px;
$font-size2: 1.2em;

//spaces
$space1: 5px;
$space2: 10px;
$space3: 15px;
$space4: 20px;
$space5: 30px;

//mixins
@mixin ifg-btn-principal {
  padding: $space2 $space2 * 4;
  color: $color1;
  border: 2px solid $color1;
  background-color: $color8;
  font-size: $font-size2;
  text-transform: uppercase;
  //font-weight: 600;
  text-decoration: none;
  @include border-radius(5px);
  @include transition(all 0.3s ease-in-out);
  //@include btn-transition;
}

@mixin ifg-btn-principal-hover {
  color: $color1;
  border-color: $color6;
  background-color: $color6;
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}

@mixin ifg-btn-secundario {
  padding: $space2 $space2 * 4;
  color: $color5;
  border: 2px solid $color5;
  background-color: $color8;
  font-size: $font-size2;
  text-transform: uppercase;
  //font-weight: 600;
  text-decoration: none;
  @include border-radius(5px);
   @include transition(all 0.3s ease-in-out);
}

@mixin ifg-btn-secundario-hover {
  color: $color1;
  border-color: $color5;
  background-color: $color5;
  text-decoration: none;
   @include transition(all 0.3s ease-in-out);
}

@mixin ifg-btn-3 {
  padding: $space2 $space2 * 4;
  color: $color1;
  border: 2px solid $color11;
  background-color: $color11;
  font-size: $font-size2;
  text-transform: uppercase;
  //font-weight: 600;
  text-decoration: none;
  @include border-radius(5px);
  @include transition(all 0.3s ease-in-out);
}

@mixin ifg-btn-3-hover {
  color: $color1;
  border-color: $color10;
  background-color: $color10;
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}

@mixin ifg-btn-4 {
  padding: $space2 $space2 * 4;
  color: $color10;
  border: 2px solid $color10;
  background-color: $color8;
  font-size: $font-size2;
  text-transform: uppercase;
  //font-weight: 600;
  text-decoration: none;
  @include border-radius(5px);
  @include transition(all 0.3s ease-in-out);
}

@mixin ifg-btn-4-hover {
  color: $color1;
  border-color: $color10;
  background-color: $color10;
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}

@mixin ifg-btn-5 {
  padding: $space2 $space2 * 4;
  color: green;
  border: 2px solid green;
  background-color: $color8;
  font-size: $font-size2;
  text-transform: uppercase;
  //font-weight: 600;
  text-decoration: none;
  @include border-radius(5px);
  @include transition(all 0.3s ease-in-out);
}

@mixin ifg-btn-5-hover {
  color: $color1;
  border-color: green;
  background-color: green;
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}

@mixin ifg-btn-6 {
  padding: $space2 $space2 * 3;
  color: $ice;
  border: 3px solid $ice;
  background-color: $color8;
  font-size: $font-size2;
  text-transform: uppercase;
  //font-weight: 600;
  text-decoration: none;
  //@include border-radius(5px);
  @include transition(all 0.3s ease-in-out);
}

@mixin ifg-btn-6-hover {
  color: white;
  border-color: $gray1;
  background-color: $gray1;
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}

//Nav btn
@mixin ifg-sign-up-btn {
  background: yellow;
  //padding: $space2 + 2 $space2 + 2;
  color: $color3;
  font-weight: normal;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin link1-mixin {
  color: $color5;
}

/* Start Input styles */

@mixin input-btn-glow {
  padding: $space2;
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 1.2em;
  box-shadow: none;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: white;
  color: $color3;
  
}

@mixin input-btn-glow-focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

@mixin input-btn-thick-border {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  padding: 1%;
  border: solid 3px $ice;
  transition: border 0.3s;
  background-color: $color8;
  color: white;
    
}

@mixin input-btn-thick-border-focus {
  border: solid 3px $gray1;
}

/* Remove sombra azul do bootstrap para todos botõess */

textarea,
input[type] {
  outline: none;
  box-shadow: none !important;
}

#{$all-buttons-focus} {
  outline: none;
  box-shadow: none !important;
}

@mixin navbar-toggle {
  background-color: $color10 !important;
  border-color: $color10;
}
