@include font-face(Open Sans, "fonts/open_sans/OpenSans-Regular");

html, body {
  //font-family: $font-family-base;
  //@include font-face("Open Sans", "/fonts/open_sans/OpenSans-Regular");
  //@include font-face('Open Sans', '/fonts/open_sans/OpenSans-Regular');
  //@include font-face(Open Sans, "open_sans/OpenSans-Regular");
  font-family: 'Open Sans';
}

.header {
  background-position: center top;
  background-repeat: no-repeat;
}

.large-hr {
  margin: 30px auto;
  max-width: 50px;
  border-color: $color1;
  border-width: 3px;
}

footer {
  color: $color1;
  background-color: $color3;
}

.border-bottom{
  border-bottom: 1px $color4 solid;
}