.wrap-all {
  margin-left: 15%;
}

.if-img {
  margin-top: 1%;
  float: left;
}

.main-wrap {
  @include background-image(url("/assets/images/space.jpg"));
  background-position: center;
  background-repeat: repeat;
  text-align: center;
  color: $color1;
}

.col-margin {
  margin: 18% 0;
}

.main-btn {
  @include ifg-btn-secundario;
  font-size: 1.2em;
  font-weight: 600;
  @include border-radius(5px);
  
  // transition quando volta do efeito hover
  @include transition-property(all);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-in);
  @include transition-delay(0.5s);
}

.main-btn:hover, .main-btn:focus {
  color: $color1;
  background-color: $color6;
  border-color: $color6;
  
  // transition quando acessa botão
  @include transition-property(all);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-in);
  @include transition-delay(0.5s);
}

.intro-text {
  margin: 0;
  font-size: 3em;
  /*text-shadow: 1px 2px 3px #666;*/
}

.link-principal {
  @include link1-mixin;
}

.link-principal:hover, .link-principal:focus  {
  //color: $color6;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.third-text {
  margin: 2% 0 2% 0;
}

hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18bc9c;
}

hr.star-primary {
  border: #2c3e50 1px solid;
}

hr.star-primary:after {
  color: #2c3e50;
  background-color: #fff;
}


.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  //border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  padding: $space2;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-size: $space4;
  @include border-radius(0px);
}

.floating-label-form-group input:focus,
.floating-label-form-group textarea:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

/*.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}*/


.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
  //border-top: 1px solid #eee;
}

// About Us

.aboutus {
  margin-bottom: 5%;
}

.page-header {
  text-align: center;
  border: none;
  padding: 0;
}

.hr-aboutus {
  border: 1px solid #000;
  width: 25px;
}

.aboutus-image {
  width: 200px;
  height: 200px;
  display: inline-block;
  @include border-radius(100px);
  @include background-image(url("/assets/images/notebook.jpg"));
  background-position: center top, center;
  background-repeat: no-repeat, repeat-x;
}

.about-sub-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .aboutus-text {
    width: 50%;
    padding: 0 0 0 $space4 + 5px;
  }
  p {
  }
}

.about-sub-container-mid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
  .aboutus-text {
    width: 50%;
    padding: 0 0 $space4 + 5px 0;
  }
  p {
  }
}

/*@media (min-width: 992px) {
  .col-md-aboutus {
    float: left;
  }
}

.col-md-aboutus {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}*/

