.margin-bottom { // if first
  margin-bottom: $space4;
}

.margin-top { // if last
  margin-top: $space4;
}

.margin-bot-top { // if middle
   margin: $space4 0;
}

.ifg-portfolio {
  //background: red;
}

.ifg-header {
  @include linear-gradient(90deg, $color2 10%, $color12 90%);
}

.page-header {
  text-transform: uppercase;
}

.ifg-full-container {
  @include border-radius(2px);
  //border: 2px solid $color4;
  padding-left: 0;
  
  h3, h4 {
    margin-top: 2%;
  }
}

.btn-wrap {
  text-align: center;
}

.line {
  height: 2px;
  width: 100%;
  @include linear-gradient(45deg, red 14.3%, orange 28.6%, yellow 42.9%, green 57.2%, blue 71.5%, indigo 85.8%, violet 100%);
}

.ifg-container {
  padding-left: 0; 
}

.ifg-button-area {
  display: inline-block;
  padding-top: 5%;
}